appdirs==1.4.4
asn1crypto==0.24.0
beautifulsoup4==4.6.0
boto3==1.16.46
botocore==1.19.46
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
distlib==0.3.1
enum34==1.1.6
filelock==3.0.12
futures==3.3.0
gyp==0.1
html5lib==0.999999999
idna==2.6
importlib-metadata==2.1.1
importlib-resources==3.3.1
ipaddress==1.0.17
jmespath==0.10.0
keyring==10.6.0
keyrings.alt==3.0
lxml==4.2.1
mutagen==1.38
mysql-connector-python==2.1.6
mysql-utilities==1.6.4
numpy==1.13.3
paramiko==2.0.0
pathlib2==2.3.5
pexpect==4.2.1
pyasn1==0.4.2
pycairo==1.16.2
pycrypto==2.6.1
pygame===1.9.1release
pygobject==3.26.1
pyodbc==4.0.17
pysqlite==2.7.0
python-dateutil==2.8.1
pyxdg==0.25
s3transfer==0.3.3
scandir==1.10.0
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.15.0
tqdm==4.55.1
typing==3.7.4.3
urllib3==1.26.2
virtualenv==20.2.2
webencodings==0.5
zipp==1.2.0
